<!DOCTYPE html>
<html>
<head>
    {{>headerlinks}}
<body>
{{>navbar}}

<div class="main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
     
       <div class="main_header_left align-items-center">
        <figure class="errimg">
            <img src="images/404.png" alt="Skand" class="img-fluid">
          </figure>
      <p>welcome to skand error page</p>
      <h1>{{error}}</h1>
      <a href="/"><button>Go Back</button></a>
      </div>
    </div>
  </div>
</div>
</div>
{{>footer}}
</body>
</html>