<!DOCTYPE html>
<html>
<head>
    {{>headerlinks}}
<body>
{{>navbar}}

<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
      
      <div class="col-md-6 col-12 main_header_left align-items-center">
        <figure>
            <img src="images/about.png" alt="Skand" class="img-fluid">
          </figure>
      
      </div>

      <div class="col-md-6 col-12 main_header_right">
        <p>welcome to the Weather app</p>
      <h1>I am a <span class="txt_clr">Web Developer</span></h1>
      <a href="/Weather"><button>About me</button></a>
     
      </div>
    </div>
  </div>
</div>
</div>
{{>footer}}
</body>
</html>